/* :root{
    --body:#888;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}
.navbar{
    box-shadow: var(--box-shadow);
} */
/* .navbar .nav-item{
    font-size: 14px;
    font-weight: 700;
}
.navbar .btn btn-outline-success{
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
} */
.card-effect{
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 20px;
    transition: all 0.35s ease;
}
.card-effect:hover{
    box-shadow: none;
    transform: translateY(20px);
}
/* .container {
    background-color: burlywood;
} */
.iconbox{
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.service{
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.service::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: #888;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease;
}
.service:hover .iconbox{
    background-color: #fff;
    color: #888;
}
.service:hover p,
.service:hover h5{
    color: #fff;
}
.service:hover::after{
    opacity: 1;
    top: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header{
    position:fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s;
    padding: 40px 100px;
  }
  /* .navbar{
    background-color: #5777ba;
  } */
  .navbar .navbar-brand{
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase ;
    letter-spacing: 2px;
    transition: .6s;
  }
  .navbar-nav .nav-link{
    color: #183a1d;
  }
  